/.nuget
*.nupkg
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

# Ignore build output
JohnVerbiest.TransformOnBuild.MSBuild.Task/build/*.dll

# Ignore nuget packages
packages/

# Ignore output of the texttemplate
JohnVerbiest.TransformOnBuild.MSBuild.Task.Test/TextTemplate1.cs
