<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>

<#
    string foo;
    string config;
    try
    {
         foo = this.Host.ResolveParameterValue("", "", "Foo");
    }
    catch (Exception e)
    {
         foo = "ResolveParameterValue foo failed with\r\n" + e.ToString();
    }

    try
    {
         config = this.Host.ResolveParameterValue("", "", "Config");
    }
    catch (Exception e)
    {
         config = "ResolveParameterValue config failed with\r\n" + e.ToString();
    }
#>
namespace JohnVerbiest.TransformOnBuild.MSBuild.Task.Test.TextTemplate1
{
    public static class Output
    {
        

        public static string TestFoo => "<#= foo #>";
        public static string TestConfig => "<#= config #>";
    }
}

/* Test output
Foo: <#= foo #>
Config: <#= config #>
*/
